*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar{
    background-color: #771011;
    color: #FFF5F2;
    border-radius: 0 0 20px 20px;
}
.left{
    padding: 15px 30px;
    line-height: 30px;
}
.items-list{
    padding: 0 15px;;
}
.navbar .items-list li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    text-decoration: none;
}
.items-list li a{
    color: #FFF5F2;
}

