* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --text: #070914;
  --background: #f8f9fd;
  --primary: #4a5bbf;
  --secondary: #d995b3;
  --accent: #d08479;
}

.navbar {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px;
  border-bottom: rgba(7, 9, 20,0.1) solid 2px;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.nav-name {
  padding: 15px 10px;
  margin-left: 20px;
  line-height: 30px;
  font-weight: thin 300;
  font-size: 25px;
}
.items-list {
  margin-right: 20px;
}
.navbar .items-list li {
  display: inline-block;
  margin: 0 25px;
}
.navbar img{
  width:20px;
  height: auto;
}
.items-list li a {
  position: relative;
  color: var(--text);
  list-style: none;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}
.items-list span {
  display: none; 
}
.items-list li a:after {
  content: "";
  position: absolute;
  background-color: var(--text);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
#navitem {
  background-color: var(--background);
  transition: top 0.3s ease; 
}
.items-list li a:hover:after {
  width: 100%;
}

.items-list .icon{
  display: none;
}
.hamburger{
 display: none;
}
.home-container {
  background-color: var(--background);
  max-width: 100%;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 260px 0 260px;
  gap: 50px;
}
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}
.name {
  font-size: 45px;
  font-weight: 600;
}
.prof {
  font-size: 22px;
  word-spacing: 8px;
}
.myPicture img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.about-container {
  display: flex;
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  padding: 240px 0 260px;
}
.about-info {
  margin: auto;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(74, 91, 191,0.1);
  color: var(--text);
  box-shadow: 10px 5px 5px gray;
  padding: 50px;
  transition: none;
}
.about-info h4 {
  text-align: center;
  font-size: 30px;
}
.about-info p {
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
}

.about-info.fadeInLeft {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

.cv-download {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 148, 178);
  margin: auto;
  color: #fff5f2;
  letter-spacing: 0.5px;
  padding: 20px 30px;
  border-radius: 5000px;
  transition: all 0.3s;
}

.cv-download img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.download-btn {
  text-decoration: none;
  color: #fff5f2;
}
@media (min-width:300px) and (max-width: 900px){
  .navbar ul {
    padding-top: 40px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; 
    z-index: 1;
    transition: left 0.3s ease; 
    right: 60%; 
    border-radius: 5px;
  }
  .navbar ul.show {
    top: 120px;
  }
  .items-list li a {
    color: var(--background);
    transition: 0.3s;
  }
  .items-list li a:after {
    background-color: var(--background);
    transition: 0.3s;
  }
  .navbar .items-list li {
    display: block;
    margin: 15px; 
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .hamburger {
    display: inline-block;
    margin: 35px;
    cursor: pointer;
  }
  #navitem {
    display: none;
    background-color: var(--text);
    color: #f8f9fd;
    position:fixed;
    float: right;
    height: 100%;
    top: 125px;
    width: 75%; 
    left: 40%; 
    flex-direction: column;
  }
  .home-container {
    background-color: var(--background);
    max-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 260px 0 60px;
    gap:0px;
  }
  .myPicture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
  }
  .name {
    font-size: 30px;
    font-weight: 600;
  }
  .prof {
    font-size: 20px;
    word-spacing: 8px;
    text-align: center;
  }
  .about-container {
    width: 100%;
    flex-direction: column;
    padding: 80px;
    padding: 240px 0 260px;
  }
  .about-info {
    margin-bottom: 120px;
    width: 60%;
    border-radius: 10px;
    padding: 50px;
    transition: none;
  }
  .about-info h4 {
    text-align: center;
    font-size: 30px;
  }
  .about-info p {
    font-size: 16px;
    text-align:center;
    line-height: 30px;
  }
  .items-list span {
    display: block; 
    position: absolute;
    top: 15px; 
    right:10px;
    margin-right: 20px;
  }
  .navbar #navitem span {
    display: block; 
  }
}


