*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #771011;
    color: #FFF5F2;
    border-radius: 0 0 20px 20px;
    
}
.left{
    padding: 15px 30px;
    line-height: 30px;
}
.items-list{
    padding: 0 15px;;
}
.navbar .items-list li{
    display: inline-block;
    margin: 0 20px;
}
.items-list li a{
    color: #FFF5F2;
    list-style: none;
    text-decoration: none;
}
.home-container{
    background-color: #ECE6D3;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px;
}
.about-me{
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.a{
    font-size: 40px;
}
.b{
    font-size: 20px;
    word-spacing: 8px;
}
.myPicture img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-color: #771011 5px;
}


